* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Oswald;
  background-image: url(background1.jpg);
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
}

h5 {
  color: #3f72af;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #112d4e;
  background-color: #3f72af;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  opacity: 0.99;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.logo:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 15px;
  padding: 30px;
  flex-wrap: wrap;
}

li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

li img {
  width: 200px;
  height: 200px;
  border: solid 5px #112d4e;
}

li div {
  padding: 15px;
  margin: 15px;
}

.topnav {
  display: flex;
  background-color: #112d4e;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 15 0 px;
  opacity: 0.99;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
article p {
  padding: 15px;
  margin: 15px;
}
.galery-frame {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  margin: 15px;
}
a {
  color: black;
}
a :visited {
  color: black;
}

.galery-frame img:hover {
  transform: scale(1.1);
}

.galery-frame img {
  padding: 15px;
  height: 200px;
  width: 250px;
}

.row {
  display: flex;
  height: auto;
}

.left-column,
.right-column {
  width: 10%;
  padding: 15px;
}

.center-column {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 15px;
  background-color: #f9f7f7;
  opacity: 0.99;
}

footer {
  background-color: #112d4e;
  color: white;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .left-column,
  .right-column {
    width: 100%;
  }

  .center-column {
    width: 100%;
  }

  .topnav {
    flex-direction: column;
    text-align: center;
  }
}
